{% extends 'base.html.twig' %}

{% block title %}
  Hello CategoryController!
{% endblock %}

{% block body %}
  <section id="pictures" class="portfolio">
    <div class="container">
      <header class="section-header">
        <p>
          Categories
        </p>
      </header>

      <div>
        {% for category in categories %}
          {% set picture = category.pictures %}
          <div>
            <div>
              {# {{ dump(picture) }} #}
              {% for pic in picture|slice(0, 1) %}
                <p>
                  <img src="data:image/png;base64,{{ pic.file }}" alt="" />
                </p>
              {% endfor %}
              <a href="{{
                path(
                  'category_pics',
                  {
                    slug: category.slug
                  }
                )
                }}">
                <div>
                  <h4>
                    {{ category.name }}
                  </h4>
                  <p>
                    {{ category.description }}
                  </p>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
