{% extends 'base.html.twig' %}

{% block title %}
  Hello CategoryController!
{% endblock %}

{% block body %}
  {% set pic = category.pictures|last %}

  <section id="pictures" class="portfolio">
    <div class="container">
      <header class="section-header">
        <h1>
          {{ category.name }}
        </h1>
        <p>
          {{ category.description }}
        </p>
      </header>

      <div class="row gy-4 portfolio-container">
        {% for picture in pictures %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="data:image/jpg;base64,{{ picture.file }}"
                class="img-fluid"
                alt="" />
              <div class="portfolio-info">
                <h4>
                  {{ picture.name }}
                </h4>
                <p>
                  {{ picture.dateUpload|date('d/m/Y') }}
                </p>
                <div class="portfolio-links">
                  <a href="{{ vich_uploader_asset(picture, 'imageFile') }}"
                    data-gallery="portfolioGallery"
                    class="portfokio-lightbox"
                    title="App 1">
                    <i class="bi bi-plus"></i>
                  </a>
                  <a href="{{
                    path(
                      'picture_details',
                      {
                        slug: picture.slug
                      }
                    )
                    }}"
                    title="More Details">
                    <i class="bi bi-link"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
