{% extends 'base.html.twig' %}

{% block title %}
  Pictures
{% endblock %}
    {% block body %}
	
	<section class="imageContainer">

		<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 0,"fitWidth": "true" }'>
			{% for picture in pictures %}
				<div class="grid-item snip1467">
        <a href="{{ vich_uploader_asset(picture, 'imageFile') }}"
                    data-gallery="portfolioGallery"
                    class="portfokio-lightbox"
                    title="{{ picture.description }}">
					<img src="{{ vich_uploader_asset( picture, 'imageFile' )|imagine_filter('pictureFilter') }}" class="img-fluid" alt=""/>
                  </a>

					<figcaption>
					<a href="{{ vich_uploader_asset(picture, 'imageFile') }}"
                    data-gallery="portfolioGallery"
                    class="portfokio-lightbox"
                    title="{{ picture.description }}">
                    <i class="bi bi-zoom-in"></i>
                  </a>
                  <a href="{{
                    path(
                      'picture_details',
                      {
                        slug: picture.slug
                      }
                    )
                    }}"
                    title="More Details">
                    <i class="bi bi-plus"></i>
                  </a>
        </figcaption>
				</div>
			{% endfor %}
		</div>
	</section>
    {% endblock %}