{% extends 'base.html.twig' %}

{% block title %}
  Pictures
{% endblock %}

{% block body %}
  <div class="form_container show-container">
    <div class="flex">
      <table class="table picture-index">
        <tbody>
          <tr>
            <th>
              Name
            </th>
            <td>
              {{ picture.name }}
            </td>
          </tr>
          <tr>
            <th>
              Date Upload
            </th>
            <td>
              {{ picture.dateUpload ? picture.dateUpload|date('Y-m-d') : '' }}
            </td>
          </tr>
          <tr>
            <th>
              Description
            </th>
            <td>
              {{ picture.description }}
            </td>
          </tr>
          <tr>
            <th>
              Slug
            </th>
            <td>
              {{ picture.slug }}
            </td>
          </tr>
        </tbody>
      </table>
      <img src="data:image/png;base64,{{ picture.file }}" class="show-image" />
    </div>
    <div class="flex flex-right">
      <a href="{{
        path(
          'pictures_c_r_u_d_edit',
          {
            id: picture.id
          }
        )
        }}"
        class="btn btn-primary">
        Edit
      </a>
      {{ include('pictures_crud/_delete_form.html.twig') }}
    </div>
  </div>
{% endblock %}
